@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Cabeçalhoo */
header{
    text-align: center;
    background-color: rgb(255, 68, 0);
}
h1{
    font-size: 2em;
    text-transform: uppercase;
    padding: 50px;
    color: white;
}
nav{
    background-color: rgba(2, 2, 128, 0.911);
}
ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    box-shadow: 1px 0px 2px black;
}
ul li {
    text-align: center;
    list-style-type: none;
    text-transform: capitalize;
}
a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1em;
}

a:hover{
    transition: background-color .3s, color .3s;
    background-color: #3c3c3c41;
    color: orangered;
}
/*Corpo*/
main{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;    
}
section{
    margin: 50px 0;
    padding: 0 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    flex: 0 1 200px;
    
    min-height: 450px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .2s, box-shadow .2s; /*Modificações Feitas para aumentar o tamanho do card*/
}
.card:hover {/*Modificações feitas para aumentar o tamanho do card*/
    transform: scale(1.05);
    box-shadow: 0 0 10px #0003;
}
h2{
    text-transform: uppercase;
    font-size: 1.1em;
}
.image{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.description{
    font-size: 0.8em;
    text-align: justify;
}
/*Rodapé*/

footer{
    background-color: rgb(255, 68, 0);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    text-transform: capitalize;
}
footer a {
    display: inline;
    padding: 0;
}

/*Responsividade*/
@media (max-width: 600px) {
    h1{
        font-size: 1em;
    }
    ul{
        flex-flow: column nowrap;
    }
    a{
        padding: 15px;
    }
    .card{
        flex: 0 1 150px;
    }

    .image{
        width: 100%;
        height: 200px;
        background-color: blue;
    }
}